@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "sans-serif";
}

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Conteúdo principal */
.content {
    flex: 1;
    padding: 20px;
    color: #1b1b1b;
}

/* Footer fixo na parte inferior */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.footer a {
    color: #ffffff;
}

.footer a:hover {
    color: #828a9c;
}
