@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "sans-serif";
}

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Conteúdo principal */
.content {
    flex: 1;
    padding: 20px;
    background-color: #333;
    color: #ffffff;
}

/* Footer fixo na parte inferior */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.footer a {
    color: #ffffff;
}

.footer a:hover {
    color: #828a9c;
}

li {
    list-style: none;
}

.list {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 1.1rem;
    color: #ffffff;
}

.list:hover {
    background-color: #333;
    color: #828a9c;
}

.boton {
    background-color: #111111;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
}

.boton:hover {
    background-color: #222222;
    color: #828a9c;
}