{% extends 'base/base.html' %}

{% block title %}Listar Desafios{% endblock %}

{% block body %}
    <h1 class="font-weight-bold">Desafios Disponíveis</h1>
    <div>    

        <ul>
            {% for desafio in desafios %}
                <li><a class="link" href="{% url 'base:detalhes_desafio' desafio.id %}">{{ desafio.nome }}</a></li>
            {% endfor %}
        </ul>
    
    </div>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    
{% endblock %}


