{% extends 'base/base.html' %}

{% block title %}Registrar-se{% endblock %}

{% block content %}
    <h2>Cadastre-se</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row py-3">
            <div class="col-sm-10 input-group-lg">
                {{ form.as_p }}
            </div>
        </div>

        <div class="row py-3">
            <div class="col-sm-2">
                <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Registrar</button>
            </div>
        </div>
    </form>
{% endblock %}